@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jong Min </h1>
    <h1 class="display-4">Josue </h1>
    <a href="https://github.com/JongminCentennialcollege/JongJosueDevOps.git">Visit our GitHub Repository</a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
